*{
    margin: 10px;
}

//* para eliminar las flechas del input number, solo se elimina visulamente
el mouse igual tendrá la fnción de aumentar
las flechas aparecen por webkit?? */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body{
 background-image: url(https://store.bananacomputer.com/cmsAdmin/uploads/o_1ebm1360a1548187aubidpa1gbaa.jpg); 
    background-size: cover;
//*background-color: lightcoral ; */
height: 100px; 
width: 1000x;
margin: 100px ;
text-align: left;
}
#cuestions {
    background-color: rgb(189, 255, 209);
    border: 5px solid gray;
    height: 100 ;
    text-align: left;

    
}
#seleccion{

background-color: rgb(240, 105, 105);
text-align: center;
}
header {
    background-color: blanchedalmond;
    border: 3px solid gray;
    height: 70px;
    text-align: center;
}

 footer{
    background-color: lightslategray;
    text-align: center;
    border-top: 5px solid rgb(36, 28, 28);
    
    
    ;
    
}